.header-with-circle {
    display: flex;
    align-items: center; 
    gap: 30px; 
    font-size: 0.7rem;
    color: black;
  }

.input-div {
    display: flex; 
    align-items: top;
    width: 100%;
    gap: 10px; 
}

.textform {
    flex-basis: 90%; /* Textform takes up 80% of the width */
}

.upload {
    flex-basis: 10%; /* Upload takes up 20% of the width */
    margin-top: 9px;
}